@model Project3.Models.Entities.GroceryList

@{
    ViewData["Title"] = "Viewing Grocery List: " + Model.GroceryListName;
}

<h2>@ViewData["Title"]</h2>

<div>
    <form id="removeGroceryItem" asp-action="RemoveGroceryItem" asp-controller="GroceryItem">
        <input type="hidden" id="groceryListId" value="@Model.Id" />
        <table class="table" id="groceryTable">
            <thead>
                <tr>
                    <th>
                        Retrieved
                    </th>
                    <th>
                        Grocery Name
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GroceryItems)
                {
                    <tr class="groceryRow">
                        <td>
                            <input type="hidden" class="groceryId" value="@item.Id" />
                            <input class="checker btn btn-default" id="delRow" type="checkbox" value="Remove" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<div class="form-group">
    <div class="col-md-offset-5 col-md-10">
        <input type="submit" id="refreshBtn" value="Refresh" class="btn btn-default" />
    </div>
</div>
<div>
    <a class="btn btn-default" asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts{
    <script src="~/js/groceryItemCreate.js"></script>
}