@model IEnumerable<Lab06HalloweenBaskets.Models.ViewModels.BasketListVM>

@{
    ViewData["Title"] = "My Halloween Baskets";
}

<h2>My Halloween Baskets</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxCalories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumCandies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentCalories)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCalories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCandies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCalories)
            </td>
        </tr>
}
    </tbody>
</table>
